@CHARSET "ISO-8859-1";

body {
	background-color: #BBBBFF;
	background-image: url("merkel.png.xhtml?ln=images");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom center;
}